tinc:
  yourNetworkName:
    yourServerName:
      RSAPublicKey: |
        -----BEGIN RSA PUBLIC KEY-----
        -----END RSA PUBLIC KEY-----
      RSAPrivateKey: |
        -----BEGIN RSA PRIVATE KEY-----
        -----END RSA PRIVATE KEY-----
      ECDSAPublicKey:
      ECDSAPrivateKey:
      host_config:
        Subnet: "192.168.xxx.xxx/xx"
        Port:
        Address:
        TCPOnly:
        Cipher:
        ClampMSS:
        Compression:
        Digest:
        IndirectData:
        MACLength:
        PMTU:
        PMTUDiscovery:
        Weight:
      tinc_config:
        Name:
        ConnectTo: [ "server1", "server2", "server3" ]
        Device:
        AddressFamily:
        Mode:
        AutoConnect:
        BindToAddress:
        BindToInterface:
        Broadcast:
        DecrementTTL:
        DeviceType:
        DirectOnly:
        ECSDAPrivateKeyFile:
        ExperimentalProtocol:
        Forwarding:
        Hostnames:
        Interface:
        ListenAddress:
        LocalDiscovery:
        LocalDiscoveryAddress:
        KeyExpire:
        MACExpire:
        MaxConnectionBurst:
        PingInterval:
        PingTimeout:
        PriorityInheritance:
        PrivateKeyFile:
        ProcessPriority:
        Proxy:
        ReplyWindow:
        StrictSubnets:
        TunnelServer:
        UDPRcvBuf:
        UDPSndBuf:
      tinc_up:|
	ifconfig $INTERFACE 192.168.xxx.xxx netmask 255.255.255.0
      tinc_down:|
	ifconfig $INTERFACE down
