# Sample tinc configuration file

# This is a comment.
# Spaces and tabs are eliminated.
# The = sign isn't strictly necessary any longer, though you may want
# to leave it in as it improves readability :)
# Variable names are treated case insensitive.

# The name of this tinc host. Required.
Name = {{ tinc_config.get('Name', hostname) }}

# The internet h st to connect with.
# Comment these out to make yourself a listen-only connection
# You must use the name of another tinc host.
# May be used multiple times for redundance.
#ConnectTo = beta
#{% for connect in host.get('tinc_config:ConnectTo', {}) %}ConnectTo = {{ connect }}{% endfor %}

# The tap device tinc will use.
# Default is /dev/tap0 for ethertap or FreeBSD,
# /dev/tun0 for Solaris and OpenBSD,
# and /dev/net/tun for Linux tun/tap device.
#Device = tun
{%- for keyword, argument in tinc_config.iteritems() %}
        {%- if argument is none %}
	{%- elif keyword is sameas "Name" %}
        {%- elif argument is sameas true %}
{{ keyword }} = yes
        {%- elif argument is sameas false %}
{{ keyword }} = no
        {%- elif argument is string or argument is number %}
{{ keyword }} = {{ argument }}
        {%- else %}
                {%- for item in argument %}
{{ keyword }} = {{ item }}
                {%- endfor %}
        {%- endif %}
{%- endfor %}

